* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------custom stylings---------------- */

:root {
    --faint-black: rgb(41, 39, 39);
    --black: rgb(0, 0, 0);
    --dark-red: rgb(228, 0, 0);
    --white: rgb(255, 255, 255);
    --hover-color: rgb(48, 48, 48);
    --footer-text-color: rgb(206, 206, 206);
  }

body{
    background-color: var(--faint-black);
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.wrapper-1 {
    max-width: 1060px;
    max-width: 1250px;
    height: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.flex-container-1 {
    min-width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container-2 {
    min-width: 100%;
    height: 100%;
    padding: 54px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container-3 {
    min-width: 100%;
    height: 100%;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6  {
    width: 100%;
    background-color: #000000;
    margin-bottom: 8px;
}

.text,
.img {
    width: 100%;
    flex-basis: 50%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.text h1 {
    margin-bottom: 16px;
}




/* ----------------section 1-------------------------- */
.header {
    min-height: 480px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0,0,0.5)), url("img/img-tiles.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    width: 100%;
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: var(--dark-red);
}

.nav-logo img {
    width: 90px;
}

.nav-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-language {
    width: 56px;
    height: 34px;
    padding: 0 5px;
    border: 1px solid #5e5d5d;
    background-color: rgba(26, 25, 25, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.select-language select {
    display: none;
}

a.sign-in {
    background-color: rgb(231, 31, 31);
    border: 0;
    border-radius: 5px;
    margin-left: 8px;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 16px;
    display: inline-flex;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    transition: background-color 0.5s;
}

a.sign-in:hover {
    background-color: var(--hover-color);
}

.material-symbols-outlined {
    color: #ffffff;
    font-size: 20px;
}

.main {
    width: 100%;
    min-height: 325px;
    padding-top: 40px;
}

.text {
    text-align: center;
}

.text :nth-child(2) {
    margin-top: 12px;
}

.text :nth-child(3) {
    margin-top: 32px;
}

.form {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 18px;
}

.form input {
    width: 400px;
    height: 48px;
    border: none;
    border-radius: 5px;
    border: 1px solid #5e5d5d;
    background-color: rgba(26, 25, 25, 0.8);
    outline: none;
    padding: 12px;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 16px;
    position: relative;
}

.form input::before {
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    z-index: 1;
}

.form input:focus {
    border: 2px solid #ffffff;
}

::placeholder {
    color: rgb(189, 179, 179);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.form .get {
    width: 160px;
    height: 48px;
    background-color: var(--dark-red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.form .get:hover {
    background-color: var(--hover-color);
}

.form .get a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

button {
    display: inline-flex;
}

/*---------------------------- section 2--------------- */
.section-2 {
    min-height: 560px;
}


/*-------------------------- section 3 ---------------------*/
.section-3 {
    min-height: 561px;
}


/*------------------------- section 4-------------- */
.section-4 {
    min-height: 583px;
}


/* ----------------------section 5------------------ */
.section-5 {
    min-height: 577px;
}


/*--------------------- section 6 -------------------------*/
.section-6 {
    min-height: 860px;
}

.section-6 h1 {
    margin-bottom: 20px;
}

.faq {
    text-align: center;
    font-size: 18px;
    background-color: #000000;
}

.faq h1 {
    font-weight: 500;
    font-size: 40px;
}

.acordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 6px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 24px 24px;
    font-size: 18px;
    font-weight: 500;
    background: #2c2c2c;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    margin-bottom: 2px;
}

label:hover {
    background-color: #5e5d5d;
}

label::after {
    content: "+";
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="checkbox"] {
    display: none;
}

.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion .content a {
    color: #ffffff;
}

.accordion input[type="checkbox"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="checkbox"]:checked + label::after {
    transform: rotate(135deg);
}

.section-6 .text {
    margin-top: 38px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.form .get {
    width: 160px;
    height:48px;
    background-color: var(--dark-red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.form .get a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}


/*--------------------- footer-------------------- */
.footer {
    width: 100%;
    height: 508px;
    background-color: #000000;
    color: var(--footer-text-color);
}

.footer .call {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: var(--footer-text-color);
    margin-bottom: 26px;
}

.footer .call a {
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
    color: var(--footer-text-color);
    width: 100%;
}

/* ul */
.links {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-height: 300px;
    margin-bottom: 10px;
    color: var(--footer-text-color);
}

.footer ul li {
    min-width: 54px;
    list-style: none;
}

.footer ul li a {
    font-size: 14px;
    font-weight: 500;
    color: var(--footer-text-color);
}

.footer .select-language {
    margin: 12px 0 20px 0;
}

.footer .links a:active {
    color: var(--dark-red);
}

.netflix-nig,
.footer .select-language {
    align-self: flex-start;
}

.footer .net-nig  {
    margin-bottom: 18px;
}

.footer .lang {
    background-color: rgba(22, 22, 22, 0.8);
}

.netflix-nig {
    color: var(--footer-text-color);
    font-size: 16px;
    font-weight: 500;
}



/*--------------------- MEDIA QUERIES ----------------*/


/*  -------------------TABLET SCREEN---------------------  */
/* section 1 tablet */

@media (min-width: 600px) {

    /* ------------section 1 tablet------------------- */
    .header{
        height: 66vh;
    }
    
    .main {
        padding-top: 25px;
    }

    .main-form  {
        flex-direction: row;
        height: 60px;
    }

    .main-form input {
        width: 360px;
        height: 58px;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .main-form .get {
        width: 200px;
        height: 58px;
    }

    .nav-logo img {
        width: 150px;
    }

    button.lang {
        display: block;
    }

    .select-language {
        width: 156px;
    }

    .select-language select {
        display: block;
        width: 100%;
        height: 100%;
        appearance: none;
        background-color: transparent;
        border: 0;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
        outline: none;
        cursor: pointer;
    }


    /*------------------ section 6 tablet -------------------*/
    
    .section-6 a {
        font-size: 24px;
    }

    .accordion li label {
        font-size: 24px;
        width: 100%;
        height: 85px;
    }

    label::after {
        font-size: 44px;
    }

    .content {
        font-size: 24px;
    }

    .item span {
        font-size: 48px;
    } 

    .form {
        height: 60px;
        flex-direction: row;
    }

    .form input {
        width: 250px;
        height: 58px;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .form .get {
        width: 200px;
        height: 58px;
    }


    /*------------------------- footer tablet----------------- */
    .footer {
        min-height: 350px;
    }

    .links {
        grid-template-columns: 1fr 1fr 1fr;
       
    }
        
    .footer .call {
        margin-top: 12px;
    }
    
    .footer .options {
        height: 200px;
    }
    
    .option a {
       font-weight: 600;
    }
    
    .footer .lang {
        margin: 2px 0 20px 0;
    }



}




/*--------------------- LAPTOP AND DESKTOP-------------------  */

@media (min-width: 960px) {
    
    /* ------------------costom styling ------------------*/
    .section-2 .text,
    .section-3 .text,
    .section-4 .text,
    .section-5 .text {
        width: 95%;
        text-align: left;
    }

    .header .main .text h1 {
        font-size: 52px;
    }

    .section-2 .text {
        margin-right: 35px;
    }

    .section-3 .text {
        margin-left: 35px;
    }

    .section-4 .text {
        margin-right: 35px;
    }

    .section-5 .text {
        margin-left: 35px;
    }

    .text {
        margin-bottom: 0;
    }

    .main-text h1 {
        font-size: 50px;
    }

    .flex-container-2 .text h1 {
        font-size: 50px;
        margin-bottom: 24px;
    }

    p {
        font-size: 24px;
    }


    /* ---------------------section 1 desktop-------------------- */
    .header {
        height: 90vh;
    }

    .select-language {
        margin-right: 14px;
    }


    /* ---------------------section 2 desktop----------------- */
    .section-2 .flex-container-2 {
        flex-direction: row;
    }


    /*---------------- section 3 desktop -----------------*/
    .section-3 .flex-container-2 {
        flex-direction: row-reverse;
    }


    /* --------------section 4 desktop------------------ */
    .section-4 .flex-container-2 {
        flex-direction: row;
    }


    /*---------------- section 5 desktop-------------------- */
    .section-5 .flex-container-2 {
        flex-direction: row-reverse;
    }

    /* --------------section 6 desktop -------------------*/

    .section-6 h1 {
        font-size: 52px;
    }


    .form input {
        width: 450px;
    }

    /* ----------------footer desktop--------------------- */
    .links {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        min-height: 200px;
    }

}